//
   Created by zxr on 2016/4/1.
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title blog
        link(rel='stylesheet', href='./bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='./bootstrap/dist/css/bootstrap-theme.css')
        script(src='./jquery/dist/jquery.min.js')
        script(src='./bootstrap/dist/js/bootstrap.min.js')
        link(rel='stylesheet', href='./css/main.css')
        link(rel='stylesheet', href='./css/nav.css')
        link(rel='stylesheet', href='./Font-Awesome-3.2.1/css/font-awesome.css')
    block content